<h1>Todo list</h1>
<ul>
  <% for(task of tasks) { %>
    <li><%= task.task %> - <a href="/delete/<%= task.id %>">Delete</a></li>
  <% } %>
</ul>
<form action="/add" method="POST">
  <input name="task" />
  <input type="submit" />
</form>
